@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.background-image {
    background-image: url('https://cdn.pixabay.com/photo/2020/04/30/15/34/code-5113374_1280.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}